@CHARSET "UTF-8";

canvas {
	display: block;
	float: left;
}

div#control-panel {
	float: left;
}

div#control-panel * {
	margin-top: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
	vertical-align: middle;
}

div#control-panel .field-div {
	width: 100%;
}

div#control-panel .field-div label {
	text-align: right;
	width: 25px;
	display: inline-block;
	padding-right: 5px;
}

.field-div output {
	text-align: right;
}

div#top-control-div label{
	margin-left: 0px;
	margin-right: 10px;
}

button.tool-button {
	width: 32px;
	height: 32px;
	padding: 0px;
}

button.tool-button.selected {
	background-color: #f8f8f8;
	border-color: darkgray;
}

button#brush-button {
	background-image: url("../image/paint-brush.svg");
}

button#move-button {
	background-image: url("../image/move.svg");
}

div#footer {
	clear: both;
	font-size: 8pt;
	padding-top: 80px;
}