<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>GetWires</servlet-name>
		<servlet-class>com.jaredhays.emaille.GetWiresServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetWires</servlet-name>
		<url-pattern>/data/getwires</url-pattern>
	</servlet-mapping>
		
	<servlet>
		<servlet-name>GetWeave</servlet-name>
		<servlet-class>com.jaredhays.emaille.GetWeaveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetWeave</servlet-name>
		<url-pattern>/data/getweave</url-pattern>
	</servlet-mapping>
		
	<servlet>
		<servlet-name>GetWeavesList</servlet-name>
		<servlet-class>com.jaredhays.emaille.GetWeavesListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetWeavesList</servlet-name>
		<url-pattern>/data/getweaveslist</url-pattern>
	</servlet-mapping>
</web-app>